@model IEnumerable<LicenseAPI.LicenseResponse>

<script type="text/javascript">
    function updateLicenseList() {
        $.ajax({
            url: '@Url.Action("GetLicensesByOrgWithProg", "Home")',
            type: 'GET',
            data: { orgId: $("#orgInput").val(), programId: $("#progSelect").prop('selectedIndex') },
            success: function (data) {
                $('#dataContainer').html(data);
            },
            error: function () {
                alert('Ошибка при выполнении действия');
            }
        });
    }
</script>

@if (TempData["AlertMessage"] != null)
{
    <div class="row">
        <div class="row">
            <div class="row">
                <div class="alert alert-info">
                    @if (TempData["AlertMessage"] is string[] errors)
                    {
                        @foreach (var error in errors)
                        {
                            <li>@error</li>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div>
        <div class="row">
            <div class="col">
                <label>Укажите id организации: </label>
                <input id="orgInput" />
                <label>Укажите программу: </label>
                <select class="form-control" id="progSelect" style="width:125px">
                    @foreach (var item in Enum.GetValues(typeof(ProgramType)))
                    {
                        <option value=@item>@item.ToString()</option>
                    }
                </select>
                <button style="width:125px" class="btn btn-success" onclick="updateLicenseList()">Получить</button>
            </div>
        </div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id организации</th>
                    <th>Id тарифа</th>
                    <th>Дата создания</th>
                    <th>Дата начала действия</th>
                    <th>Дата истеченя срока</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@Html.DisplayFor(modelItem => item.Id)</th>
                        <th>@Html.DisplayFor(modelItem => item.OrganizationId)</th>
                        <th>@Html.DisplayFor(modelItem => item.TarifId)</th>
                        <th>@Html.DisplayFor(modelItem => item.DateCreated)</th>
                        <th>@Html.DisplayFor(modelItem => item.StartDate)</th>
                        <th>@Html.DisplayFor(modelItem => item.EndDate)</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

