@model PagedResult<OrganizationsLiceses>

<script type="text/javascript">
    function updatePartial() {
        $.ajax({
            url: '@Url.Action("GetOrganizationsByPages", "Home")',
            type: 'GET',
            data: { page: $("#currenrPage").val(), pageSize: $("#pageSize").val() },
            success: function (data) {
                $('#dataContainer').html(data);
            },
            error: function () {
                alert('Ошибка при выполнении действия');
            }
        });
    }
</script>

<div class="row">
    <div class="col">
        <label>Укажите страницу: </label>
        <input id="currenrPage" />
        <label>Укажите размер 1 страницы: </label>
        <input id="pageSize" />
        <button style="width:125px" class="btn btn-success" onclick="updatePartial()">Получить</button>
        <div class="col">
            <label>Текущая страница: </label>
            <label>@Html.DisplayFor(modelItem => Model.CurrentPage)</label>
        </div>
        <div class="col">
            <label>Всего страниц: </label>
            <label>@Html.DisplayFor(modelItem => Model.TotalPages)</label>
        </div>
    </div>
</div>

<div>
    <div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ИНН</th>
                    <th>КПП</th>
                    <th>Ел. почта</th>
                    <th>Телефон</th>
                    <th>Лицензии</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Any())
                {
                    @foreach (var itemOrganization in Model.Items)
                    {
                        <tr>
                            <th>@Html.DisplayFor(modelItem => itemOrganization.Organization.Id)</th>
                            <th>@Html.DisplayFor(modelItem => itemOrganization.Organization.Inn)</th>
                            <th>@Html.DisplayFor(modelItem => itemOrganization.Organization.Kpp)</th>
                            <th>@Html.DisplayFor(modelItem => itemOrganization.Organization.Email)</th>
                            <th>@Html.DisplayFor(modelItem => itemOrganization.Organization.Phone)</th>
                           <th>
                                @if (itemOrganization.Licenses.Any())
                                {
                                    <table class="table table-stroiped">
                                        <thead>
                                            <tr>
                                                <th>Id лицензии</th>
                                                <th>Id тарифа</th>
                                                <th>Дата создания</th>
                                                <th>Дата начала действия</th>
                                                <th>Дата истеченя срока</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                @foreach (var itemLicense in itemOrganization.Licenses)
                                                {
                                                        <tr>
                                                            <th>@Html.DisplayFor(modelItem => itemLicense.Id)</th>
                                                            <th>@Html.DisplayFor(modelItem => itemLicense.TarifId)</th>
                                                            <th>@Html.DisplayFor(modelItem => itemLicense.DateCreated)</th>
                                                            <th>@Html.DisplayFor(modelItem => itemLicense.StartDate)</th>
                                                            <th>@Html.DisplayFor(modelItem => itemLicense.EndDate)</th>
                                                        </tr>
                                                }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>У организации нет лицензий</p>
                                }
                           </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>