@using LicenseServerApp.Models.API.Dependencies
@using LicenseServerApp.Models.View
@model PagedResult<OrganizationView>

<script type="text/javascript">
    function updatePartial() {
        $.ajax({
            url: '@Url.Action("GetOrganizationsByPages", "Home")',
            type: 'GET',
            data: { page: $("#currenrPage").val(), pageSize: $("#pageSize").val() },
            xhrFields: { withCredentials: true },
            success: function (data) {
                $('#dataContainer').html(data);
            },
            error: function () {
                alert('Ошибка при выполнении действия');
            }
        });
    }
</script>

@if (TempData["AlertMessage"] != null)
{
    <div class="row">
        <div class="row">
            <div class="row">
                <div class="alert alert-info">
                    @if (TempData["AlertMessage"] is string[] errors)
                    {
                        @foreach (var error in errors)
                        {
                            <li>@error</li>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col">
        <label>Укажите страницу: </label>
        <input id="currenrPage" />
        <label>Укажите размер 1 страницы: </label>
        <input id="pageSize" />
        <button style="width:125px" class="btn btn-success" onclick="updatePartial()">Получить</button>
        <div class="col">
            <label>Текущая страница: </label>
            <label>@Html.DisplayFor(modelItem => Model.CurrentPage)</label>
        </div>
        <div class="col">
            <label>Всего страниц: </label>
            <label>@Html.DisplayFor(modelItem => Model.TotalPages)</label>
        </div>
    </div>
</div>

<div>
    <div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Id организации</th>
                    <th>Имя</th>
                    <th>ИНН</th>
                    <th>КПП</th>
                    <th>Ел. почта</th>
                    <th>Телефон</th>
                    <th>Программа</th>
                    <th>Тариф</th>
                    <th>Дата создания лицензии</th>
                    <th>Дата начала действия лицензии</th>
                    <th>Дата конца действия лицензии</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1; 
                    foreach (var itemOrganization in Model.Items)
                    {
                        if(itemOrganization != null)
                        {
                            <tr>
                                <th>@index</th> 
                                <th>@Html.DisplayFor(modelItem => itemOrganization.OrganizationId)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.OrganizationName)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.OrganizationInn)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.OrganizationKpp)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.OrganizationEmail)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.OrganizationPhone)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.ProgramName)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.TarifName)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.DateCreated)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.StartDate)</th>
                                <th>@Html.DisplayFor(modelItem => itemOrganization.EndDate)</th>
                            </tr>
                            index++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>